#modal {
  background: #fff;
  width: 550px;
  height: 450px;
  display: none;
  border: 4px solid #c2185b;
  border-radius: 14px;
  padding: 10px;
}

#heading-modal {
  top: 20px;
  left: 20px;
  position: absolute;
  display: block;
  width: 480px;
  z-index: 9999;
}

#label-email {
  width: 120px;
}

#btn-close {
  width: 25px;
  height: 25px;
  position: absolute;
  display: flex;
  top: -59px;
  right: -35px;
  background-color: #555;
  color: #fff;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid transparent;
  border-radius: .25rem;
}

#btn-close:hover {
  background-color: #0d6efd;
}

#btn-submit {
  margin-left: 20px;
}

#form {
  margin-top: 25px;
  width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-label {
  margin-left: 22px;
}

.form-control {
  margin: 20px;
  width: 500px;
}

#ticket {
  width: 100px;
}

.modal-button {
  width: 160px;
  margin: 0px 5px;
}

.modal-button:hover {
  background-color: rgb(71, 85, 207);
}

@media screen and (max-width: 540px) {
  #modal {
    width: 300px;
  }

  .form-control {
    width: 200px;
  }
  
  #btn-close {
    margin-bottom: 10px;
    width: 200px;
  }

}
