@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
}

header {
  position: relative;
  box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
  width: 100%;
  background-color: #fff;
}

aside {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #c2185b;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}

.btn-dark:hover {
  background-color: #6c757d;
  color: #fff;
}

main {
  width: 100%;
}

main.login {
  width: 400px;
}

#eventos {
  display: flex;
  flex-wrap: wrap;
}

section.full {
  width: 100%;
  min-height: 80vh;
  padding: 50px 0;
}

#section {
  background-color: #f2f2f2;
  color: #555;
}

article.evento {
  width: 340px;
  height: 500px;
}

article.evento p {
  overflow: hidden;
  min-height: 72px;
}

header {
  width: 100%;
}

.slides {
  max-width: 100%;
}

#title-attractions {
  z-index: 1;
  position: absolute;
  top: 160px;
}

#description-event {
  position: absolute;
  top: 210px;
  width: 242px;
  z-index: 1
}

#btn-book {
  position: absolute;
  bottom: 40px;
  right: 60px;
  width: 242px;
}

footer {
  width: 100%;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  padding: 10px;
}

@media only screen and (max-width: 1200px) {

  .row aside {
    width: 100%;
    margin-bottom: -200px;
    text-align: center;
  }

  aside {
    background-color: #fff;
  }
}

@media only screen and (max-width: 880px) {

  .container-fluid,
  .row {
    max-width: 865px;
  }

  .evento .card .p-5 .m-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  p {
    max-width: 680px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  a {
    max-width: 680px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #reservas {
    margin-top: 130px;
  }
}

@media screen and (max-width: 828px) {

  .row {
    display: flex;
    flex-direction: column;
  }

  a {
    max-width: 828px;
    align-content: center;
    justify-content: center;
  }

  figure {
    max-width: 828px;
    align-content: center;
  }

  .my-5 {
    width: 900px;
  }

  main {
    align-content: center;
    width: 100vw;
  }

  .row aside img {
    width: 150px;
  }

  .nav {
    align-content: center;
  }

  main {
    align-content: center;
    position: absolute;
    top: 400px;
  }

  .btn {
    width: 160px;
  }

  .btn-danger {
    width: 70px;
  }

  .row aside ul {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .btn-dark {
    width: 80px;
  }

  a {
    max-width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #form-evento input {
    width: 280px;
  }

  #form-evento textarea {
    width: 280px;
  }

  #form-evento label {
    width: 180px;
  }

  .my-5 {
    width: 500px;
  }

  .btn {
    width: 160px;
    flex-direction: row;
  }

  .btn-danger {
    width: 70px;
  }
}

@media screen and (max-width: 790px) {
  .btn-dark {
    width: 80px;
  }

  a {
    max-width: 900px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {

  .container-fluid,
  .row {
    max-width: 540px;
  }

  .evento .card .p-5 .m-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  p {
    max-width: 540px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  a {
    max-width: 540px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #main {
    max-width: 540px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  #reservas {
    margin-top: 130px;
  }

  .table-h1 {
    width: 170px;
  }

  .table-h2 {
    width: 90px;
  }
  
  .table {
    width: 300%;
    display: flex;
    flex-wrap: wrap;
  }

  tbody {
    width: 700px;
  }

  #delete {
    width: 280px;
  }

  .btn {
    width: 80px;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .td-01 {
    width: 30px;
    padding-left: 20px;
  }

  .td-btn {
    width: 40px;
  }

  .btn-primary {
    width: 200px;
  }

  .btn-danger {
    margin-left: 50px;
    width: 70px;
  }

  #list-all {
    width: 200px;
  }
}